.about-pop-up {
  z-index: 500;
  position: absolute;
  @include align(l,c);
  box-sizing: border-box;
  height: 100%;
  background-color: $white-color;
  @include responsive(width, 100%, 80%, 75%, 50%, 50%);
  @include responsive(left, -100%, -80%, -75%, -50%, -50%);

  transition: left .5s;
  animation-timing-function: ease-in;

  .content {
    position: absolute;
    width: 66%;
    top: 50%;
    transform: translateY(-50%);
    left: 17%;

    h2 {
      position: relative;
      font-family: Playfair Display;
      @include responsive(font-size, 36px, 36px, 36px, 36px, 48px);
      color: $black-color;
      margin-bottom: 50px;
      @include device('mobile') {
        text-align: center;
        margin-bottom: 25px;

        &:after {
          display: none;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: -50px;
        transform: translateY(-50%);
        width: 20px;
        height: 6px;
        background-color: $black-color;
      }
    }

    p {
      @include responsive(font-size, 14px, 16px, 16px, 16px, 18px);
      @include responsive(line-height, 22px, 22px, 22px, 22px, 24px);
      font-weight: 200;
      color: $black-color;

      @include device('mobile') {
        text-align: center;
      }
    }
  }
}

.about-pop-up.open {
  left: 0;
}
