doctype html
html
  head
    title 404 - Art Grove Studio
    include _includes/_meta

    // Style		
    link(rel='stylesheet', type='text/css', href='css/loader.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    
  body#404
  
    include _includes/_loader
    include _includes/_nav
    
    
    // JQuery
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')    
    // GSAP
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js')
    // Main Script
    script(type='text/javascript', src='js/main.js')
