doctype html
html
  head
    title Проекты - Art Grove Studio
    include _includes/_meta

    // Style		
    link(rel='stylesheet', type='text/css', href='css/loader.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')

  body#projects  
    include _includes/_loader
    include _includes/_nav
    
    #fullpage
      .section
        .project-bg
          //.gradient
        .project.strakhovskyi
          img(src="assets/img/strakhovskyi-mockup.png", alt="alt")
          a(href="https://www.behance.net/gallery/47555307/Andrey-Strakhovskyi-design-by-Art-Grove-Studio") 
            h2 Андрей Страховский
        .project.module
          img(src="assets/img/strakhovskyi-mockup.png", alt="alt")
          a(href="https://www.behance.net/gallery/47555307/Andrey-Strakhovskyi-design-by-Art-Grove-Studio") 
            h2 2
        .project.tiky
          img(src="assets/img/strakhovskyi-mockup.png", alt="alt")
          a(href="https://www.behance.net/gallery/47555307/Andrey-Strakhovskyi-design-by-Art-Grove-Studio") 
            h2 3
            
    
    // JQuery
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')    
    // PagePilling
    script(type='text/javascript', src='assets/js/jquery.fullPage.js')       
    // PagePilling Setting
    script(type='text/javascript', src='js/fullPageProjectsSetting.js')    
    // GSAP
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js')
    // Main Script
    script(type='text/javascript', src='js/main.js')
