.about-pop-up
	.content
		h2 O Студии
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolorum quisquam laborum atque voluptatibus incidunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolorum quisquam laborum atque voluptatibus incidunt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolorum quisquam laborum atque voluptatibus incidunt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolorum quisquam laborum atque voluptatibus incidunt, dolores quaerat aperiam repellendus magnam numquam pariatur explicabo adipisci sapiente ipsam! Blanditiis cupiditate illum fugiat!