nav.border-nav
  .logo
    a(href='index.html')
      p ag.studio
  .hamburger
    .line.line-top
    .line.line-center
    .line.line-bottom
  .social-media
    a(href='https://twitter.com/artgrovestudio')
      p twitter
    a(href='https://www.instagram.com/art.grove.studio')
      p instagram
  .phone
    a(href='tel:+380980811582')
      p +380980811582
nav.menu
  ul
    a(href="#")
      li Главная
    a(href="#")
      li О Студии
    a(href="#")
      li Проекты
    a(href="#")
      li Контакты
